body {
     padding: 0px;
     margin: 0px;
 }

.main {
    text-align: center;
    margin-top: 11rem;
}

h3 {
    font-size: 2.4rem;
    font-family: sans-serif;
    color: rgb(255, 253, 106);
    margin-bottom: 0.7rem;
}

p {
    font-family: sans-serif;
    font-size: 1.4rem;
    max-width: 50rem;
    margin: auto;
    color: rgb(255, 255, 255);
    text-justify: auto;
}

button {
    margin-top: 2.4rem;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 1.2rem;
    width: 18rem;
    height: 4rem;
    border: none;
}

.btn {
    background-color: #00000091;
    color:rgb(255, 255, 255);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4), inset 0 2px 2px hsla(0, 0%, 0%, 0.2);
    box-shadow: 0 0 5px rgb(245, 255, 190), 0 0 10px rgb(206, 196, 55), 0 0 20px rgb(241, 255, 161), 0 0 0px rgb(211, 255, 54), 0 0 14px rgb(255, 251, 0), 0 0 0px rgb(251, 255, 0), 0 0 41px rgb(255, 230, 0), 0 0 22px rgb(229, 255, 0);
  }

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
     display: block;
}

.video-bg { 
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -100;
}

.video {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 0ms;
    object-fit: cover;
}

.video-bg:after {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.4);
    background-size: 2px 2px;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .ads {
      text-align: center;
      margin-top: 7.5rem;
  }
